@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0px 30px 0px 30px;
    font-family: "Cairo", sans-serif !important;
    width: 100% !important;
    overflow-x: hidden !important;
}

@media (max-width:720px) {
  body{
    padding: 0px 15px 0px 15px;

  }
}

html{
  width: 100% !important;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.my-container {
  @apply md:px-14 md:py-20 px-4 py-12;
}

.bg-cloud {
  background-image: url("/cloud-banner.7890072e1b8a5f53d30f3776d850827c.svg");
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}